/* Sets up timeline for EXPERIENCE ID */
ul.timeline {
    list-style-type: none;
    position: relative;
}



ul.timeline > li {
    margin: 10px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: #FFD700;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 0;
}
/* EXPERIENCE ID */
#experience {
    display: flex;
    flex-direction: column;
}

/* CSS for Showing off the "Experience" Section */
.ExEleft {
    float: left;
    display: inline-block;
    width: 50%;


}

/* CSS for Showing off the "Education" Section */
.ExEright {
    float: right;
    display: inline-block;
    width: 50%;

}

/* changes size of circles based on width (smaller for mobiles) */
@media only screen and (max-width: 768px) {
    .ExEright{
        width: 100%;
        float: none;
    }
    
    .ExEleft {
    float: none;   
    width: 100%;
    }
    ul.timeline > li:before {
        content: ' ';
        background: #FFD700;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 2px solid #000;
        left: 10px;
        width: 20px;
        height: 20px;
        z-index: 0;
    }

    ul.timeline > li {
        margin: 10px 0;
        padding-left: 10px;
    }
}
