body {
    background-image: linear-gradient(#000, #ffff);
    margin: 0px;

}

#main {
    transition: margin-left 0.5s;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px
}

#header_design {
    display: flex;
    color: #ffff;


}

#header_design p,
#header_design h1 {
    background: -webkit-linear-gradient(#ffff, #8d8f91, #ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
}



.NavD {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

}

.NavD a {
    padding: 18px 8px 18px 32px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.NavD a:hover {
    color: #f5cf45;
}

.NavD .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.nav_arrow {
    position: fixed;
    top: 0;
    color: #ffff;
    visibility: visible;
}

.nav_arrow i:hover {
    color: #f5cf45;
    transition: 0.5s;
}


.head {
    background-color: #000;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.head h2 {
    font-size: 30px;
    display: inline-block;
    background: -webkit-linear-gradient(#ffff, #8d8f91, #ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paraSize {
    font-size: 1.5em;
    color: #000;

}


.starry {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/alexander-andrews-fsH1KjbdjE8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;

}

#experience {
    display: flex;
    flex-direction: column;
}

.ExEleft {
    float: left;
    display: inline-block;
    width: 50%;


}

.ExEright {
    float: right;
    display: inline-block;
    width: 50%;
}

#projects_display {
    background-image: linear-gradient(#000, #ffff);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#projects_display img {
    width: 20%;
    padding: 20px;

}
.Aicon a{
    color: white
}

.Aicon a:hover {
    transition: 0.5s;
    color: #e1b137;
}
.icons {
    display: flex;
    justify-content: center;

}

.icons i {
    padding: 50px;
    font-size: 100px;
}

.icons a {
    text-decoration: none;
    color: #000;
}

.icons a:hover {
    transform: translate(0px, -10px);
    transition: 0.5s;
    color: #e1b137;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #ffff;


}

@media screen and (max-height: 450px) {
    .NavD {
        padding-top: 15px;
    }

    .NavD a {
        font-size: 18px;
    }
}
